<div class="row">
  <header>
    <div class="col col_7"><%= link_to logo,root_path %></div>
    <div class="col col_9">
      <nav>
        <ul>
          <li><%= link_to "登录",signin_path %></li>
          <li><%= link_to "注册",signup_path %></li>
          <li><%= link_to "帮助",help_path %></li>
          <li><%= link_to "关于我们", aboutus_path%></li>
          <li><input id='search' type='text' value='Search Friends'/></li>
        </ul>
      </nav> <!-- nav -->
    </div>
    <div class="clear"></div><!--clear -->
  </header>
</div> <!--row -->
